# dependencies
node_modules/

# env files
.env
.env.*
!.env.example
!**/.env.example

# secrets
credentials.json
token.json

# logs
*.log

# OS
.DS_Store
Thumbs.db

# build
dist/
apps/api/uploads/*
!apps/api/uploads/avatars/
!apps/api/uploads/cvs/
!apps/api/uploads/avatars/.gitkeep
!apps/api/uploads/cvs/.gitkeep

# prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

apps/api/prisma/prisma/dev.db
apps/api/prisma/prisma/dev.db-journal
