# dependencies
node_modules/

# env files
.env
.env.*
!.env.example
!**/.env.example

# secrets
credentials.json
token.json

# logs
*.log

# OS
.DS_Store
Thumbs.db

# build
dist/

# prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

apps/api/prisma/prisma/dev.db
apps/api/prisma/prisma/dev.db-journal
